nav {
  background-color: #1f1f1f;
    /* This means I can move the element later using top, right, bottom, or left. Also, if I place a child element with position: absolute, it will be positioned relative to this element. */
    position: relative;
    padding: 15px 40px;
    /* inested of up and down come inline*/
    display: flex;
    align-items: center;
    justify-content: space-between;
/* no change just Zuwina in left and the list in right
let's move to next element ul */
/* رجعنا نلون Zuwina */
    color: #00fff7;

    font-weight: bold;
}
    ul {
  display: flex;
  /* list لازقات ف بعض */
  list-style: none;
  /* remove the dot */
  justify-content: space-around;
  width: 60%;
    /* space between the elements */
    /* gap: 20px; */
    font-weight: bold;
    
}
/* نبدأ بسم الله نلون */
li {
  color: white;
  cursor: pointer; /* pointer يعني لما احط الماوس يطلع شكل اليد */
}
/* hover تأثيرات */
li:hover {
  /* color: #00ffcc; */
  background-color: #00ffcc;
    /* لون الخلفية */
  color: #1f1f1f;
    /* لون الخط */
  border-radius: 5px;
    /* حركات بركات في الحدود الخلفية */
    /* padding:5px 10px; */
    /* padding شوي مساحة لان الخلفية لازقه في الكلام*/
    /* transition: 0.3s; */
    /* نعومه وهو يتحرك*/
    /* ظل تحت العنصر */
}
body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
}

/* box was big شكله قبيح  */
 /* for all element in html */
     *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .content{
        /* مسافة بين الفقرة والناف */
        padding-top: 10px;
    }

    /*نطور ونضيف صورة*/

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #00ffcc;
  font-weight: bold;
  font-size: 20px;
}

.logo {
  width: 107px;
  height: 24px;
}

/* main section*/

.about {
  padding: 60px 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.who-text {
  flex: 1;
  color: white;
}


.who-text h2 {
  font-size: 36px;
  color: #00fff7;
  font-weight: 700;
  letter-spacing: 2px;
  border-left: 6px solid #00fff7;
  padding-left: 12px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Fredericka the Great', cursive;
}

.who-text p {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Playpen Sans Deva', sans-serif;
}

.who-image img {
  max-width: 300px;
  border-radius: 30px;
}
